.title {
    font-size: 34px;
    font-weight: 600;
    color:#fff;
}
.mat-toolbar {
    background: #1c222e;
    padding: 42px 16px;
}

.chapter-name {
    font-size: 32px;
    color: #dcdcdc;
    font-weight: 500;
}

.menu-icon {
    font-size: 40px;
    opacity: 0.5;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}