.verse-sec {
    .verses {
        font-size: 42px;
        font-weight: 500;
        margin: 0;
        line-height: 1.6;
        color: #cccccc;
        .verse-index {
            margin-right: 10px;
        }
    }
}

.chapter-num {
    font-size: 32px;
    font-weight: 500;
    color: #dcdcdc;
}

.chapter-name {
    font-size: 40px;
    color: #dcdcdc;
}